{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint"
      ],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": [
          "off",
          {
            "allowTypedFunctionExpressions": true
          }
        ],
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_"
          }
        ]
      }
    }
  ]
}
