@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #f9f9f9;
  }

  a {
    color: #d81017;
  }

  img {
    display: inline-block;
  }
}

@layer utilities {
  .section2 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-top: 1px solid #ccc;
  }

  .section2:first-child {
    border-top: none;
  }

  .heading2 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  @responsive {
    .w-thumbnail {
      width: 192px;
    }

    .column-2 {
      column-count: 2;
    }

    .column-3 {
      column-count: 3;
    }
  }
}
